<%- include('header') %>
<a href="http://localhost:8080/ajout_animal" class="btn btn-primary">nouvelle animal</a>
<hr>
<div class="card-deck">
<% if ( locals.animaux ) { %>        
<% animaux.forEach(function(animal) { %>
  <div class="card bg-dark text-white text-center" >
    <div class="card-body">
      <h5 class="card-title"><%= animal.nom %></h5>
      <p  class="card-text"><%= animal.description %></p>
      <p  class="card-text"><%= animal.poid %></p>
      <a href="/modif_animal/<%= animal.id %>" class="btn btn-primary">modifier</a>
      <a href="/remove/<%= animal.id %>" class="btn btn-primary">supprimer</a>
    </div>
  </div>   
</div> 
<% })} %>
</body>
</html>
