{% extends 'base.html.twig' %}

{% block title %}profil{{ animal.nom }}{% endblock %}
{% block body %}
<div class="card-deck">
<div class="card bg-dark text-white text-center" >

    <div class="card-body">
        <h5 class="card-title">race des {{ animal.espece.libelle }}s : {{ animal.nom }}</h5>
        <p  class="card-text">{{ animal.description }}</p>
		<p class="card-text">Poid : {{ animal.poid }} Kg</p>
		<p class="card-text">Present dans ces pays :<br>
		 	{% for continent in animal.continents %}{{ continent.libelle }} {% endfor %}
		</p>
        <a href="{{ path('app_animal_show',{'id':animal.id}) }}" class="btn btn-primary">modifier</a>
        <a href="{{ path('app_animal_show',{'id':animal.id}) }}" class="btn btn-primary">supprimer</a>
        <a href="{{ path('app_animal') }}" class="btn btn-primary">retour</a>
    </div>
    <img  src="{{ animal.image }}" class="card-img-top" alt="{{ animal.nom }}" width="200px">
</div>   
</div>  

{% endblock %}
