{% for animal in animaux %}
{# <h1>{{ animal.espece }}</h1> #}
<h2><a href="{{ path('afficher_animal',{'id':animal.id}) }}">{{animal.nom}}</a></h2>
<h3>{{ animal.poids }}kg/{{ animal.description }}.</li></h3>
{% endfor %}

